
body{
    background-color: rgba(32,33,36,255);
}
.divcontainer1{
    display: flex;
    align-items: center;
    padding: 6px;
    font-family: arial,sans-serif;
}
.div_itemIZQ,.div_itemDCH{
    display: flex;
    align-items: center; 
}
.div_itemMID{
    flex-grow: 2;
}
#item1{
    margin-left: 5px;
}
#item2{
    margin-left: 15px;
    margin-right: 30px;
}
#item3,#item4{
    margin-right: 15px;
}
#item5{
    margin-right: 20px;
    margin-left: 5px;
}
#item6{
    margin-right: 5%;
}
#azul{
    border-radius: 5px;
    background-color: rgb(106, 191, 219);
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
}
a.blanc{
    color: white;
}
a.grey,a.grey2{
    color: gray;
}
a.blanc:hover,a.grey:hover{
    text-decoration: underline;
}
.catalan,.ingles{
    color: blue;
}
.catalan:hover,.ingles:hover,#Conf:hover{
    text-decoration: underline;
}
#Pub:hover, #Emp:hover,#Ter:hover{
    text-decoration: underline;
}
#Com:hover,#Emi:hover,#Priv:hover{
    text-decoration: underline;
}
.divcontainer2{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divcontainer3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buscador{
    display: flex;
    align-items: center;
    border: 2px solid #5f6368;
    border-radius: 24px;
    height: 44px;
    width: 538px;
    align-items: center;
    justify-content:space-between;
}
#barra{
    color: #e8eaed;
    background-color: transparent;
    border-color: transparent;
    font-family: arial,sans-serif;
    width:420px;
}
.lupa{
    margin-left: 9px;
}
.camara{
    margin-right: 9px;
}
.Botons{
    margin-bottom: 20px;
    font-family: arial,sans-serif;
}
.boton1,.boton2{
    background-color: #303134;
    color: #e8eaed;
    font-size: 14px;
    border: 1px solid #303134;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
}
.Ofrecido{
    color: #bdc1c6;
    margin-right: 20px;
    font-family: arial,sans-serif;
    font-size: small;
}
.catalan,.ingles{
    font-family: arial,sans-serif;
    margin-right: 15px;
    font-size: small;
}
.footer1{
    display: flex;
    border: 3px solid red;
    align-self: flex-end;
    align-items: center;
}
.footer2{
    display: flex;
    border: 3px solid green;
    align-self: flex-end;
    align-items: center;
}