
body{
    background-color: rgba(32,33,36,255);
}
.divcontainer1{
    display: flex;
    border: 3px solid green;
    align-items: center;
}
.div_itemIZQ{
    align-items: center;
    border: 3px solid white;
}
.div_itemMID{
    flex-grow: 2;
}
.div_itemDCH{
    align-items: center;
    border: 3px solid red;
}
#azul{
    border-radius: 5px;
    background-color: rgb(106, 191, 219);
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
}
a.blanc{
    color: white;
}
a.grey,a.Ofrecido,a.grey2{
    color: gray;
}
a.blanc:hover,a.grey:hover{
    text-decoration: underline;
}
.catalan,.ingles{
    color: blue;
}
.catalan:hover,.ingles:hover,#Conf:hover{
    text-decoration: underline;
}
#Pub:hover, #Emp:hover,#Ter:hover{
    text-decoration: underline;
}
#Com:hover,#Emi:hover,#Priv:hover{
    text-decoration: underline;
}


