/*La posicio del div será absoluta (pares) relativa(fills), amb les seves medides; 
la posicio de adalt i abaix; i el seu color*/
#verde{
    position: absolute;
    width: 160px;
    height: 120px;
    margin-top: 140px;
    margin-left: 100px;
    background-color:lightgreen;
}
#rojo{
    position:relative;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 100px;
    background-color:red;
}
#amarillo{
    position: absolute;
    width: 160px;
    height: 120px;
    margin-top: 40px;
    margin-left: 20px;
    background-color:yellow;
}
#azul{
    position:relative;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    background-color:lightblue;
}
