*{
    margin:0;
    padding: 0;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;
}
.gmail{
    margin-left: 5px;
}
.imatges{
    margin-left: 15px;
    margin-right: 10px;
}
.punts{
    margin-right: 20px;
    margin-left: 5px;
}
button{
    border-radius: 5px;
    background-color: rgb(106, 191, 219);
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    margin-top: auto;
}
.foot1{
    display: flex;
    align-self: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 1px;
}
.foot2{
    display: flex;
    justify-items:flex-start;
    align-items: center;
    justify-content: space-between;
}
.foot3{
    display: flex;
    justify-items:flex-end;
    align-items: center;
    justify-content: space-between;
}
.inf,.pub,.emp{
    margin-right: 20px;
}
.pri,.con,.conf{
    margin-left: 20px;
}