header{
    float: right;
}

.dreta div {
    float: left;
    height: 20px;
    line-height: 20px;
}
.gmail{
    margin-right: 10px;
}
button{
    background-color: rgb(96, 195, 248);
    padding: 10px ;
    text-decoration-color: white;
    border-radius: 10px;
}